{% extends "base.html" %}
{% block title %}Configure containers{% endblock %}

{% block top %}
<h2>Configure containers</h2>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-3">
    {% for container in containers %}
      <div class="well">
        <a href="/configure/{{container}}">
          <h4 class="text-center">{{ container }}
          {% if container in complete_configuration %}
            <span class="glyphicon glyphicon-ok text-success"></span></h4>
          {% else %}
            <span class="glyphicon glyphicon-remove text-danger"></span></h4>
          {% endif %}
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="col-sm-6">
    {% block config %}
    {% endblock %}
  </div>
  <div class="col-sm-3">
    {% if current_container != None %}
      <h3 class="text-center">{{current_container}}</h3>
      <div class="well text-center">
          <b>Security</b>
      </div>
      {% for req, req_text in security %}
        <li class="list-group-item">
          <a href="/configure_req/{{current_container}}/{{req}}">{{req_text}}</a>
          {% if req in complete_requirements %}
            <span class="glyphicon glyphicon-ok text-success"></span>
          {% else %}
            <span class="glyphicon glyphicon-remove text-danger"></span>
          {% endif %}
        </li>
      {% endfor %}
      <div class="well text-center">
          <b>General configuration files</b>
      </div>
      <ul class="list-group">
        {% for sample in samples %}
          <li class="list-group-item">
            <a href="/configure_file/{{current_container}}/{{sample}}">{{sample[sample.rfind('/') + 1:-7]}}</a>
            {% if sample in complete_samples %}
              <span class="glyphicon glyphicon-ok text-success"></span>
            {% else %}
              <span class="glyphicon glyphicon-remove text-danger"></span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
</div>

{% endblock %}
