{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block top %}
<h2>Welcome to the setup wizard</h2>
{% endblock %}

{% block content %}

{% if run > 0 %}
<div class="alert alert-danger">Please fill the form below to continue</div>
{% endif %}

<p>Here we will help you setup the Virtual Core software.</p>
<p>You will be able to choose your prefered services (containers) and
provide basic configuration information to get you started.</p>

<p>The wizard will configure all containers to be run on the same machine,
but this can be easily changed, check the documentation.</p>

<div class="panel panel-danger">
  <div class="panel-heading">Think security!</div>
  <div class="panel-body">
    Security is paramount and all connections to containers will be
    encrypted. This wizard will help you with setting this up. Be prepared to:
    <ul>
      <li>Supply your SSH public key (to login to containers)</li>
      <li>Most probably you have to supply certificates and private keys
        for things HTTPS and FTPS servers</li>
    </ul>
    If you do not have these, the system will help you generate those.
  </div>
</div>

<div class="panel panel-info">
  <form action="/1" method="POST">
    <div class="form-group">
        <label for="country">Country (two letter ISO code):</label>
        <input type="text" class="form-control" maxlength="2" name="country", value="{{ country }}">
    </div>
    <div class="form-group">
        <label for="state">State or Province</label>
        <input type="text" class="form-control" name="state" value="{{ state }}">
    </div>
    <div class="form-group">
        <label for="locality">Locality (City, Town, ...):</label>
        <input type="text" class="form-control" name="locality" value="{{ locality }}">
    </div>
    <div class="form-group">
        <label for="orgname">Organization Name:</label>
        <input type="text" class="form-control" name="orgname" value="{{ orgname }}">
    </div>
    <div class="form-group">
        <label for="orgunit">Organization Unit (e.g. Department of XX):</label>
        <input type="text" class="form-control" name="orgunit" value="{{ orgunit }}">
    </div>
    <div class="form-group">
        <label for="commonname">Common name (e.g. Virtual Core of XX)</label>
        <input type="text" class="form-control" name="commonname" value="{{ commonname }}">
    </div>
    <div class="form-group">
        <label for="host">Full hostname as seen from the exterior</label>
        <input type="text" class="form-control" name="host" value="{{ host }}">
    </div>
    <div class="form-group">
        <label for="email">email:</label>
        <input type="email" class="form-control" name="email" value="{{ email }}">
    </div>
    <input type="submit"
        class="btn btn-primary btn-lg center-block" value="Lets start"/>
  </form>
</div>

{% endblock %}
