virtual-core.yml
*.pyc
__pycache__
_build
etc/analysis
etc/ca
etc/galaxy
etc/hosts
etc/ldap
etc/phpldapadmin
etc/postgres
etc/ssh
etc/zabbix
ansible/main.yml
ansible/main.retry
authorized_keys
munge.key
init.ssl
_instance

link_mutable_files.py

ansible/roles/common/vars/main.yml
ansible/roles/file_router/vars/main.yml
ansible/roles/user_server/vars/main.yml

docker/ldap/named/etc/openldap/cacert.pem
docker/ldap/named/etc/openldap/ldap.conf
docker/ldap/named/etc/openldap/servercrt.pem
docker/ldap/named/etc/openldap/serverkey.pem
docker/ldap/named/etc/openldap/slapd.conf
docker/ldap/named/etc/openldap/slapd.d/cn=config/olcDatabase={1}bdb.ldif

docker/phpldapadmin/copy/etc/nginx/cert.key
docker/phpldapadmin/copy/etc/nginx/cert.pem
docker/phpldapadmin/copy/etc/phpldapadmin/config.php


docker/postgres/copy/var/lib/postgresql/data/pg_hba.conf
docker/postgres/copy/var/lib/postgresql/data/server.crt
docker/postgres/copy/var/lib/postgresql/data/server.key

docker/file_router/copy/etc/exports
docker/file_router/copy/etc/ldap.conf
docker/file_router/copy/etc/ldap/ldap.conf
docker/file_router/copy/etc/nginx/cert.key
docker/file_router/copy/etc/nginx/cert.pem
docker/file_router/copy/etc/samba/smb.conf
docker/file_router/copy/etc/samba/users
docker/file_router/copy/etc/sequencer-router.users

docker/zabbix/copy/etc/nginx/cert.key
docker/zabbix/copy/etc/nginx/cert.pem

docker/analysis/copy/etc/jupyterhub/cert.key
docker/analysis/copy/etc/jupyterhub/cert.pem
docker/analysis/copy/etc/jupyterhub/jupyterhub_config.py

docker/compute_server/copy/etc/slurm-llnl/slurm.conf
docker/compute_server/copy/etc/supervisor/conf.d/slurm.conf


docker/galaxy/copy/etc/galaxy/galaxy.ini
docker/galaxy/copy/etc/galaxy/reports_wsgi.ini
docker/galaxy/copy/galaxy-central/config/auth_conf.xml
docker/galaxy/copy/etc/proftpd/proftpd.conf
docker/galaxy/copy/etc/nginx/cert.key
docker/galaxy/copy/etc/nginx/cert.pem


docker/sequencer/copy/etc/ldap.conf
docker/sequencer/copy/etc/samba/smb.conf

docker/user_server/copy/etc/ldap.conf
docker/user_server/copy/etc/ldap/ldap.conf
docker/user_server/copy/sbin/add_software.sh
docker/user_server/copy/etc/slurm-llnl/slurm.conf

