# Includes DSO modules
Include /etc/proftpd/modules.conf


# Basics, some site-specific
ServerName                      "Public Galaxy FTP"
ServerType                      standalone
DefaultServer                   on
Port                            2222
Umask                           022
#SyslogFacility                 DAEMON
#SyslogLevel                    debug
MaxInstances                    30
User                            nobody
Group                           nogroup

# Passive port range for the firewall
PassivePorts                    30000 40000


# Cause every FTP user to be "jailed" (chrooted) into their home directory
DefaultRoot                     ~

# Automatically create home directory if it doesn't exist
CreateHome                      on dirmode 755

# Allow users to overwrite their files
AllowOverwrite                  on

# Allow users to resume interrupted uploads
AllowStoreRestart               on

# Bar use of SITE CHMOD
<Limit SITE_CHMOD>
    DenyAll
</Limit>

# Bar use of RETR (download) since this is not a public file drop
<Limit RETR>
    DenyAll
</Limit>


# Do not authenticate against real (system) users
AuthPAM                         off


LDAPServer ldap
LDAPUsers dc=example,dc=com
LDAPSearchScope subtree
LDAPDefaultGID 1450
LDAPDefaultUID 1450
LDAPForceDefaultGID on
LDAPForceDefaultUID on
LDAPAttr uid mail
LDAPForceGeneratedHomedir on
LDAPGenerateHomedir on
LDAPGenerateHomedirPrefix /export/galaxy-central/database/ftp/


SFTPEngine on
Port 2222
SFTPHostKey /etc/ssh/ssh_host_rsa_key
SFTPHostKey /etc/ssh/ssh_host_dsa_key
SFTPCompression delayed
SFTPAuthMethods password
