[program:munge]
command=/usr/sbin/munged -F
user=munge
autorestart=true

[program:slurmctld]
command=/usr/sbin/slurmctld -D
autorestart=true

[program:slurmd]
command=/usr/sbin/slurmd -D
autorestart=true
