---
- name: Bioinformatics core infrastructure
  hosts: localhost
  connection: local
  roles:
    - common
    - ldap
    - postgres
    - zabbix
    - galaxy
    - web
    - compute_server
    - user_server
    - analysis
    - file_router
    - software

